[submodule "YoGato-frontend"]
	path = YoGato-frontend
	url = https://github.com/sevleo/YoGato-frontend
[submodule "YoGato-backend"]
	path = YoGato-backend
	url = https://github.com/sevleo/YoGato-backend


# git submodule update --remote --merge YoGato-frontend
# git submodule update --remote --merge YoGato-backend